@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  background-color: #344b62;
}

h2 {
  color: #f26f5b;
  font-family: "Montserrat", sans-serif;
}

h1, .white-p {
  font-family: "Montserrat", sans-serif;
  color: #fdd5bc;
}

.chart-grow {
  transform: scale(2);
}

.move-p-down {
  margin-top: 3em;
}

.push-chart {
  padding-bottom: 1em;
}

/** THIS SECTION IS FOR THE BRAINS AT THE BOTTOM **/

.enter-left {
  position: absolute;
  left: 60%;
  transition: all 200ms ease-in;
}

.enter-right {
  position: absolute;
  right: 60%;
  transition: all 200ms ease-in;
}

.translate-left-brain {
  transform: translateX(95%);
}

.translate-right-brain {
  transform: translateX(-95%);
}

/** THIS SECTION IS FOR THE ICONS **/

/** default state for icons **/

.trait {
  width: 7em;
  color: #344b62;
}

.grow {
  width: 13em;
  transition: all 200ms ease-in;
  color: #fdd5bc;

}

.test {
  width: 200%;
}

